{
    "env": {
    "browser": true
    },
    "extends": ["airbnb/base"],
    "rules": {
    "semi":"off",
    "no-console":"off",
    "no-tabs":"off",
    "default-case":"off",
    "no-param-reassign":"off",
    "no-use-before-define":"off",
    "no-shadow":"off",
    "no-unused-vars":"off"
    }
    }